body, *{
    margin: 0;
    padding: 0;
    
}
.container{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}
.landing{
    width: 100%;
    height: 100vh;
    background:url('media/bg_1.jpg');
    background-size: cover;
}
.nav{
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
}
.nav > .navright{
    flex: 1;
}

.nav > .navright > p{
    width: 150px;
    height: 80px;
    padding: 30px 0 0 40px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courgette', sans-serif;
    
}
.navleft{
    flex: 0.3;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.btn{
    padding: 10px;
    border: transparent;
    border-radius: 20px;
    width: 200px;
    background-color: rgba(255,255,255,0.1);
    color: white;
    font-weight: bold;
    font-size: 15px;
    
}
.navleft > a{
    padding: 50px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration-style: none;
    text-decoration-line: none;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    justify-content: space-around;
    padding: 150px;
    
}
.content p{
    text-align: center;
}
.content > .content1 p{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.content > .content2 p{
    color: white;
    font-size: 20px;
}
.content > .content3{
    background-color:white;
    border-radius: 35px;
    padding: 3px;
    border: 0;
    outline: transparent;
}
.content > .content3 >input{
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    font-size: 20px;
    border: 0;
    outline: transparent;
}
.btn2{
    padding: 13px;
    border: transparent;
    border-radius: 30px;
    width: 180px;
    background-color:#77a1e5;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}

.isi{
    width: 100%;
    min-height: 100vh;
    display: flex;

}
.cont{
    display: flex;
    width: 100%;
    background:url("media/road_2.jpg");
    background-size: cover;
    min-height: 100vh; 
    align-items: center;
    justify-content: space-around;
}

.cont >#go > .tulisan{
    width: 100%;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    
    
}
.gambar > img{
    width: 400px;
    height: 500px;
    
}
.cont > #go > .tulisan > p{
    font-weight: bold;
    color: #050c18;
    margin-bottom: 0;
    font-size: 45px;
    padding: 10px;
    font-family: 'Courgette', sans-serif;
}